{% set snmp = salt['grains.filter_by']({
    'RedHat': {
        'pkg': 'net-snmp',
        'pkgutils': 'net-snmp-utils',
        'service': 'snmpd',
        'servicetrap': 'snmptrapd',
        'config': '/etc/snmp/snmpd.conf',
        'configtrap': '/etc/snmp/snmptrapd.conf',
        'options': '/etc/sysconfig/snmpd',
        'optionstrap': '/etc/sysconfig/snmptrapd',
        'source': 'salt://snmp/files/snmpd.conf',
        'sourcetrap': 'salt://snmp/files/snmptrapd.conf',
        'sourceoptions': 'salt://snmp/files/snmpd.options',
        'sourceoptionstrap': 'salt://snmp/files/snmptrapd.options',
        'snmpdargs': '-Lsd -Lf /dev/null -p /var/run/snmpd.pid -a',
        'trapdargs': '-Lsd -p /var/run/snmptrapd.pid',
    },
    'Debian': {
        'pkg': 'snmpd',
        'pkgutils': 'snmp',
        'service': 'snmpd',
        'servicetrap': 'snmptrapd',
        'config': '/etc/snmp/snmpd.conf',
        'configtrap': '/etc/snmp/snmptrapd.conf',
        'configdefault': '/etc/default/snmpd',
        'source': 'salt://snmp/files/snmpd.conf',
        'sourcetrap': 'salt://snmp/files/snmptrapd.conf',
        'sourcedefault': 'salt://snmp/files/snmpd.default',
        'snmpdargs': '-Lsd -Lf /dev/null -u snmp -g snmp -I -smux,mteTrigger,mteTriggerConf -p /var/run/snmpd.pid',
        'trapdargs': '-Lsd -p /var/run/snmptrapd.pid',
        'mibs': '',
        'snmpdrun': 'yes',
        'trapdrun': 'no',
    },
}, default='RedHat', merge=salt['grains.filter_by']({
    'Red Hat Enterprise Linux Server-6': {
        'sourceoptions': 'salt://snmp/files/snmpd.options.redhat6',
    },
    'Red Hat Enterprise Linux Server-5': {
        'sourceoptions': 'salt://snmp/files/snmpd.options.redhat5',
    },
}, grain='osfinger', merge=salt['pillar.get']('snmp:lookup'))) %}
