{% set snmp  = salt['grains.filter_by']({
    'default': {
        'pkg': 'net-snmp',
        'pkgutils': 'net-snmp-utils',
        'service': 'snmpd',
        'servicetrap': 'snmptrapd',
        'config': '/etc/snmp/snmpd.conf',
        'configtrap': '/etc/snmp/snmpdtrapd.conf',
        'options': '/etc/sysconfig/snmpd',
        'source': 'salt://snmp/files/snmpd.conf',
        'sourcetrap': 'salt://snmp/files/snmptrapd.conf',
        'sourceoptions': 'salt://snmp/files/snmpd.options',
},
}, merge=salt['pillar.get']('snmp:lookup')) %}
